<div class="card w-50" style="background-color:cornsilk">
    <div class="card-body">
        <div>
            <form class="form-inline my-2 my-lg-0" (ngSubmit)="findByCategory()">
                <input list = "optionCategories" [(ngModel)]="text" name = "text"class="form-control mr-sm-2" style="width: 80%" type="text" placeholder="Search"> 
                <datalist id="optionCategories">
                    <span *ngFor = "let category of optionCategories">
                        <option value={{category.categoryName}}></option>
                    </span>
                </datalist>
                  <input  class="btn btn-primary" type="submit" >
            </form>
        </div>
        <form (ngSubmit)="addCategory()">
            <div class="form-group row">

                <div class="col-sm-6">
                    <br /> <input type="text" class="form-control" id="add" name="categoryName" placeholder="Add Category"[(ngModel)]="categoryName" >
                </div>
                <div class="col-sm-5">
                    <br />   <button type="submit" class="btn btn-primary" [disabled]=status>Add</button>
                    <button type="button" class="btn btn-primary" id="update" disabled style="margin-left: 5px"
                       (click)="updateCategory()">update
                    </button>

                </div>
            </div>

            <div *ngFor="let category of categories">
                <div class="form-group row" style=" background-color:rgb(201, 245, 188);width: 400px">
                    <div class="col-sm-5">
                        <div style=" padding: 4px;">
                            <div>{{category.categoryName}}</div>
                        </div>
                    </div>
                    <div style="float:right; position: absolute; right: 15%;">
                        <button class="btn btn-primary" type="button"
                            style="font-size: 10px; background-color:olivedrab; border: olivedrab; margin-right: 6px" #edit name = "{{category._id}}" (click)="editCategory(edit.name)">Edit</button>
                        <button class="btn btn-primary" type="button"
                            style=" font-size: 10px; background-color:olivedrab; border: olivedrab; margin-right: 6px"
                            #delete name="{{category._id}}"  routerLink="create/category" (click)="deleteCategory(category)"> Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div